.empty__cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.empty__cart img {
  width: 200px;
  height: 200px;
}

.empty__cart p {
  margin: auto 0 auto 0;
  font-size: 30px;
}

.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  width: 100%;
  /* border: 1px solid black; */
  margin-left: 60px;
  margin-right: 100px;
}

h2 {
  margin-bottom: 10px;
}


.check__left {
  /* border: 1px solid black; */
  border-right: 1px solid lightcyan;
}

.check__right {
  width: 100%;
}