.basket__img {
  width: 35px;
  height: 35px;
}

.basket__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket__section p {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  font-size: 30px;
}