.subtotal {
  display: flex;
  width: 400px;
  height: 250px;
  border: 1px solid black;
  align-items: center;
}

.subtotal__elements {
  margin-left: 50px;
  margin-top: 20px;
}

.subtotal__elements p {
  font-size: 30px;
}

.gift__check {
  display: flex;
  justify-content: left;
  align-items: center;
}

.gift__check input {
  margin-right: 10px;
}

.proceed__button {
  margin-top: 20px;

}