* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-grey: #707070;
  --clr-bunker: #131921;
  --clr-ebony-clay: #232f3e;
  --clr-red: #e82127;
  --clr-orange-dark: #e82127;
  --clr-sky-blue: #76b5c5;
}

body {
  background-color: grey;
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
